@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { margin: 0 10px; }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: white; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

@font-face { font-family: DinConC; src: url("../fonts/DINCONCM.eot"); src: url("../fonts/DINCONCM.eot?#iefix") format("embedded-opentype"), url("../fonts/DINCONCM.woff") format("woff"), url("../fonts/DINCONCM.ttf") format("truetype"); font-weight: normal; font-style: normal; }
header .header-in, footer .footer-in, .slide .slide-in, .bid .bid-in, .service .service-in { width: 980px; margin-left: auto; margin-right: auto; }

body { min-width: 980px; font-size: 14px; font-family: Arial, sans-serif; line-height: 1.4; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: antialiased; }
body ::selection { background: #fcde0f; }
body ::-moz-selection { background: #fcde0f; }
body.is-overlay { position: relative; }
body.is-overlay .nav-overlay { display: block; }
body.is-overlay .nav li.mobile { display: block; }

h1 { font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; font-size: 35px; text-transform: uppercase; }

.logo { margin-top: 22px; margin-right: 80px; display: inline-block; vertical-align: middle; background: url('../img/icons-sc43d977d54.png') 0 -1199px no-repeat; width: 168px; height: 56px; font-size: 0; }

.nav-overlay { display: none; z-index: 999; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }

.nav { display: inline-block; vertical-align: top; }
.nav.m-footer a { padding: 0; }
.nav.m-footer a.is-active:before { content: none; }
.nav.m-footer .nav-note { width: 478px; margin-top: 25px; text-align: center; font-size: 12px; font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; color: #dfdfdf; }
.nav.m-footer li { margin-left: 26px; }
.nav.m-footer li:first-child { margin-left: 18px; }
.nav .nav-ico { display: none; cursor: pointer; background: url('../img/icons-sc43d977d54.png') 0 -1298px no-repeat; width: 24px; height: 21px; position: absolute; top: 73px; right: 27px; }
.nav ul { margin-left: -12px; *zoom: 1; }
.nav ul:after { content: " "; display: table; clear: both; }
.nav li { float: left; margin-left: 16px; }
.nav li.mobile { display: none; }
.nav a { display: block; padding-top: 35px; text-transform: uppercase; text-decoration: none; font-size: 15px; color: white; font-family: "DinConC", Arial, sans-serif; font-weight: 400; font-style: normal; position: relative; }
.nav a.is-active { color: #8f8e8e; }
.nav a.is-active:before { content: ""; height: 4px; background: #fcde0f; position: absolute; top: 0; left: 0; right: 0; }
.nav a.is-special { color: #fcde0f; }

.lang { margin: 0 42px; display: inline-block; vertical-align: top; }
.lang ul { *zoom: 1; }
.lang ul:after { content: " "; display: table; clear: both; }
.lang li { float: left; margin-left: 12px; }
.lang li:first-child { margin-left: 0; }
.lang a { display: block; padding-top: 36px; font-size: 13px; text-transform: uppercase; text-decoration: none; font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; color: #8f8e8e; }
.lang a.is-active { color: white; }

.tel { margin-top: 36px; display: inline-block; vertical-align: top; }
.tel .tel-num .tel-num-pref { color: #d2d0d1; }
.tel .tel-num .tel-num-num { margin-left: 7px; font-family: "Roboto", sans-serif; font-weight: 900; font-style: normal; color: white; }
.tel .tel-descr { font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; font-size: 11px; color: #8f8e8e; text-align: right; }

footer { padding: 30px 0 40px; background: black; color: white; }
footer .footer-in { *zoom: 1; }
footer .footer-in:after { content: " "; display: table; clear: both; }
footer .footer-in .footer-left { width: 250px; float: left; }
footer .footer-in .footer-right { width: 250px; float: right; overflow: hidden; }
footer .footer-in .footer-center { overflow: hidden; }
footer .lang, footer .tel { margin: 0; }
footer .lang a, footer .tel a { padding-top: 0; }
footer .lang { margin-left: 3px; float: left; }
footer .tel { float: right; }

.copy { margin-bottom: 20px; }
.copy span { text-transform: uppercase; font-size: 11px; color: #979797; }
.copy span.copy-special { color: #fcde0f; }

.slide { min-height: 650px; background: black; color: white; position: relative; }
.slide:before { content: ""; width: 980px; height: 507px; background: url("../img/bg.jpg"); position: absolute; bottom: 0px; left: 50%; margin-left: -490px; }
.slide .slide-in { margin-top: 30px; position: relative; z-index: 666; text-align: center; }
.slide h1 { margin-bottom: 5px; }
.slide .h3-info { margin-bottom: 20px; font-size: 15px; text-transform: uppercase; color: #b1b1b1; }
.slide .h3-type { font-size: 18px; text-transform: uppercase; font-family: "DinConC", Arial, sans-serif; font-weight: 400; font-style: normal; }

.bid { padding-bottom: 53px; background: #ffe110; }
.bid .bid-in { padding: 45px 0 0px; }
.bid h1 { margin-bottom: 30px; text-align: center; }

.tab { padding-bottom: 100px; text-align: center; position: relative; }
.tab .tab-nav { text-align: center; font-size: 0; position: relative; }
.tab .tab-nav li { display: inline-block; vertical-align: middle; margin-left: 4px; }
.tab .tab-nav li:first-child { margin-left: 0; }
.tab .tab-nav li.is-active a { background: #0e0f10; color: #ffe110; }
.tab .tab-nav li.m-first:before { content: ""; width: 150px; height: 1px; background: #e6cc10; position: absolute; top: 22px; left: 0; }
.tab .tab-nav li.m-last:before { content: ""; width: 150px; height: 1px; background: #e6cc10; position: absolute; top: 22px; right: 0; }
.tab .tab-nav .tab-link { display: block; padding: 10px 22px; background: #ffca10; font-size: 18px; font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; text-decoration: none; color: #302f2f; }
.tab .tab-content { padding: 35px 40px 0; position: relative; }
.tab .tab-content:before, .tab .tab-content:after { content: ""; width: 1px; background: #e6cc10; position: absolute; top: -23px; bottom: -84px; }
.tab .tab-content:before { left: 0; }
.tab .tab-content:after { right: 0; }
.tab .tab-detail { width: 500px; position: absolute; left: 50%; margin-left: -250px; bottom: 0px; font-size: 12px; color: #3d3d3d; font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; }
.tab .tab-detail strong { color: #0e0f10; }
.tab .tab-detail:before { content: ""; width: 240px; height: 1px; background: #e6cc10; position: absolute; top: 16px; left: -240px; }
.tab .tab-detail:after { content: ""; width: 240px; height: 1px; background: #e6cc10; position: absolute; top: 16px; right: -240px; }

.social { *zoom: 1; }
.social:after { content: " "; display: table; clear: both; }
.social li { float: left; margin-left: 8px; }
.social li:first-child { margin-left: 0; }
.social a { display: block; }
.social a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.social a.vk { background: url('../img/icons-sc43d977d54.png') 0 -1653px no-repeat; width: 28px; height: 28px; }
.social a.fb { background: url('../img/icons-sc43d977d54.png') 0 -153px no-repeat; width: 28px; height: 28px; }
.social a.tw { background: url('../img/icons-sc43d977d54.png') 0 -1615px no-repeat; width: 28px; height: 28px; }

.wrap { padding: 60px 0 40px; background: #f2f2f2; }

.service h1 { margin-bottom: 45px; line-height: 1.2; text-align: center; }
.service .service-items { margin-bottom: 30px; *zoom: 1; }
.service .service-items:after { content: " "; display: table; clear: both; }
.service .service-item { width: 164px; margin-left: 40px; float: left; }
.service .service-item:first-child { margin-left: 0; }
.service .service-media { margin-top: 14px; margin-bottom: 59px; position: relative; }
.service .service-media:before { content: ""; background: url('../img/icons-sc43d977d54.png') 0 -191px no-repeat; width: 163px; height: 175px; position: absolute; top: -13px; left: 0px; }
.service .service-img { width: 135px; height: 148px; margin: 0 auto; overflow: hidden; }
.service .service-descr { padding-left: 10px; font-size: 13px; line-height: 1.6; font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; }

.slider { position: relative; }
.slider h1 { margin-bottom: 20px; text-align: center; }
.slider .slider-items { min-width: 980px; *zoom: 1; }
.slider .slider-items:after { content: " "; display: table; clear: both; }
.slider .slider-item { float: left; width: 33.333%; }
.slider .slider-item.slick-center .slider-descr { display: block; }
.slider .slider-item.slick-center .slider-media img { filter: grayscale(0); -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(0); filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.slider .slider-media { height: 215px; line-height: 215px; margin-bottom: 15px; }
.slider .slider-media img { vertical-align: bottom; filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='1'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(1); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; }
.slider .slider-descr { display: none; color: #262626; text-align: center; }
.slider .slider-descr .slider-descr-title { font-size: 18px; font-family: "Roboto", sans-serif; font-weight: 700; font-style: normal; }
.slider .slider-descr .slider-descr-note { font-size: 14px; font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; }
.slider .slider-descr .slider-descr-capacity { font-size: 11px; font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; }
.slider .slick-prev:before, .slider .slick-next:before { content: none; }
.slider .slick-prev { background: url('../img/icons-sc43d977d54.png') 0 -1533px no-repeat; width: 67px; height: 72px; position: absolute; top: 95px; left: 33%; margin-left: -50px; z-index: 666; cursor: pointer; }
.slider .slick-prev:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
.slider .slick-next { background: url('../img/icons-sc43d977d54.png') 0 -1418px no-repeat; width: 67px; height: 72px; position: absolute; top: 95px; right: 33%; margin-right: -50px; z-index: 666; cursor: pointer; }
.slider .slick-next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

.form .form-row { *zoom: 1; text-align: left; }
.form .form-row:after { content: " "; display: table; clear: both; }
.form .form-col { float: left; margin-left: 10px; }
.form .form-col:first-child { margin-left: 0; }
.form .form-col.m-col1 { width: 200px; }
.form .form-col.m-col2 { width: 300px; }
.form .form-col.m-col3 { width: 200px; }
.form .form-col.m-col4 { width: 170px; }
.form .form-title { min-height: 19px; margin-bottom: 8px; color: #302f2f; font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; }
.form .form-date { font-size: 15px; background: white; text-align: left; font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; position: relative; cursor: pointer; }
.form .form-date .form-date-day { width: 168px; padding: 14px 15px; background: transparent; border: 1px solid #d9ac0e; font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; font-size: 15px; color: black; position: relative; z-index: 22; cursor: pointer; }
.form .form-date .form-date-day:-ms-input-placeholder { font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; font-size: 15px; color: black; }
.form .form-date .form-date-day:-moz-placeholder { font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; font-size: 15px; color: black; }
.form .form-date .form-date-day::-moz-placeholder { font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; font-size: 15px; color: black; }
.form .form-date .form-date-day::-webkit-input-placeholder { font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; font-size: 15px; color: black; }
.form .form-date .form-date-day::placeholder { font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; font-size: 15px; color: black; }
.form .form-date .form-date-ico { z-index: 11; position: absolute; top: 50%; margin-top: -16px; right: 11px; text-align: right; background: url('../img/icons-sc43d977d54.png') 0 -111px no-repeat; width: 31px; height: 32px; }
.form .form-select { position: relative; }
.form .form-select .form-select-on { padding: 15px 15px; background: white; border: 1px solid #d9ac0e; cursor: pointer; }
.form .form-select .form-select-ico { background: url('../img/icons-sc43d977d54.png') 0 0 no-repeat; width: 13px; height: 19px; position: absolute; top: 50%; margin-top: -10px; right: 14px; }
.form .input { width: 168px; padding: 16px 15px; background: white; border: 1px solid #d9ac0e; font-size: 15px; color: black; }
.form .input:-ms-input-placeholder { font-size: 15px; color: black; }
.form .input:-moz-placeholder { font-size: 15px; color: black; }
.form .input::-moz-placeholder { font-size: 15px; color: black; }
.form .input::-webkit-input-placeholder { font-size: 15px; color: black; }
.form .input::placeholder { font-size: 15px; color: black; }
.form .input:focus:-ms-input-placeholder { color: transparent; }
.form .input:focus:-moz-placeholder { color: transparent; }
.form .input:focus::-moz-placeholder { color: transparent; }
.form .input:focus::-webkit-input-placeholder { color: transparent; }
.form .input:focus::placeholder { color: transparent; }
.form .form-btn { width: 100%; height: 51px; background: #0e0f10; font-size: 14px; text-transform: uppercase; color: white; }
.form .form-btn:hover { background: #39414b; }
.form .form-list ul { margin-top: 10px; }
.form .form-list li { padding: 3px 0 4px 10px; margin-top: 3px; background: transparent; border: 1px solid white; position: relative; }
.form .form-list li:first-child { margin-top: 0; }
.form .form-list .form-list-item { font-size: 12px; font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; }
.form .form-list .form-list-item .form-list-auto { width: 170px; display: inline-block; vertical-align: top; }
.form .form-list .form-list-item .form-list-auto span { color: black; }
.form .form-list .form-list-item .form-list-auto span.form-list-note { color: #a28e00; }
.form .form-list .form-list-item .form-list-summ { width: 90px; display: inline-block; vertical-align: top; }
.form .form-list .form-list-item .form-list-del { position: absolute; top: 0; right: 0; background: url('../img/icons-sc43d977d54.png') 0 -1166px no-repeat; width: 24px; height: 23px; cursor: pointer; }

.popup { background: white; border: 1px solid #d9ac0e; position: absolute; top: 0px; left: 0px; right: 0px; z-index: 777; cursor: auto; }
.popup .popup-topper { *zoom: 1; padding: 15px 12px 12px; }
.popup .popup-topper:after { content: " "; display: table; clear: both; }
.popup .popup-topper .popup-topper-left, .popup .popup-topper .popup-topper-right { width: 50%; font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; font-size: 12px; color: #878787; }
.popup .popup-topper .popup-topper-left { float: left; }
.popup .popup-topper .popup-topper-right { float: right; text-align: right; }
.popup .popup-list { max-height: 192px; margin-bottom: 15px; }
.popup .popup-list .popup-list-item { padding: 6px 8px 6px 6px; margin-bottom: 5px; position: relative; }
.popup .popup-list .popup-list-item.is-active { background: #f7f7f7; }
.popup .popup-list .popup-list-item.is-active .summ { display: block; }
.popup .popup-btn { width: 100%; height: 53px; line-height: 53px; margin-bottom: -1px; background: black; font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; font-size: 15px; text-transform: uppercase; color: white; position: relative; }
.popup .popup-btn:hover { background: #39414b; }
.popup .popup-btn:hover:before, .popup .popup-btn:hover:after { background: #39414b; }
.popup .popup-btn:before, .popup .popup-btn:after { content: ""; width: 1px; background: black; position: absolute; top: 0; bottom: 0; }
.popup .popup-btn:before { left: -1px; }
.popup .popup-btn:after { right: -1px; }

.checkbox { width: 40px; display: inline-block; vertical-align: middle; position: relative; }
.checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; top: 0; left: 0; }
.checkbox input:checked + .checkbox-ico { background: url('../img/icons-sc43d977d54.png') 0 -70px no-repeat; width: 31px; height: 31px; }
.checkbox .checkbox-ico { display: inline-block; vertical-align: middle; background: url('../img/icons-sc43d977d54.png') 0 -29px no-repeat; width: 31px; height: 31px; }

label { width: 200px; display: block; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }

.label { width: 155px; width: 155px; display: inline-block; vertical-align: middle; overflow: hidden; line-height: 1.2; }
.label .label-title { font-size: 15px; font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.label .label-meta { width: 155px; font-size: 12px; color: #878787; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.summ { display: none; position: absolute; top: 9px; right: 8px; z-index: 666; }
.summ input { width: 20px; display: inline-block; vertical-align: middle; background: transparent; font-size: 18px; font-weight: bold; color: #0e0f10; text-align: center; font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; }
.summ .summ-minus { margin-right: 2px; display: inline-block; vertical-align: middle; background: url('../img/icons-sc43d977d54.png') 0 -1265px no-repeat; width: 22px; height: 23px; }
.summ .summ-plus { display: inline-block; vertical-align: middle; background: url('../img/icons-sc43d977d54.png') 0 -1500px no-repeat; width: 22px; height: 23px; }

@media only screen and (max-width: 500px) { body { min-width: 100%; }
  header .header-in, footer .footer-in, .slide .slide-in, .bid .bid-in, .service .service-in { width: 100%; }
  .slide { min-height: 580px; }
  .slide:before { width: 320px; height: 210px; background: url("../img/bg_mobile.jpg"); position: absolute; bottom: 0px; left: 50%; margin-left: -160px; }
  .slide .slide-in .h3-type { padding: 0 50px; }
  header .lang, header .tel .tel-descr { display: none; }
  .nav ul { display: none; padding-top: 10px; padding-bottom: 16px; z-index: 999; position: absolute; left: 0; right: 0; top: 0; background: #fcde0f; }
  .nav ul li { margin-left: 0; float: none; background: #fcde0f; text-align: center; }
  .nav ul li.mobile { margin-bottom: 20px; font-size: 24px; text-transform: uppercase; color: black; }
  .nav ul li.mobile .nav-ico2 { margin-right: 16px; display: inline-block; vertical-align: middle; background: url('../img/icons-sc43d977d54.png') 0 -1329px no-repeat; width: 24px; height: 21px; }
  .nav ul li.mobile span { display: inline-block; vertical-align: middle; }
  .nav ul li.mobile .nav-close { background: url('../img/icons-sc43d977d54.png') 0 -1360px no-repeat; width: 51px; height: 48px; position: absolute; top: 0; right: 0; }
  .nav ul li a { padding: 9px 0; font-size: 20px; color: black; }
  .nav ul li a.is-special, .nav ul li a.is-active { color: black; }
  .nav ul li a:hover { background: white; }
  .nav ul li .nav-item { display: block; margin-left: 100px; text-align: left; }
  .nav .nav-ico { display: inline-block; }
  .logo { margin-top: 57px; margin-left: 16px; }
  .tel { width: 180px; margin: 0; position: absolute; top: 20px; left: 50%; margin-left: -90px; text-align: center; }
  .tel .tel-num-pref, .tel .tel-num-num { border-bottom: 1px dashed #666666; }
  .tel .tel-num-pref { display: inline-block; line-height: 18px; }
  .tel .tel-num .tel-num-num { padding-left: 8px; margin-left: 0; }
  .bid { padding-bottom: 0px; }
  .bid .bid-in { padding-top: 30px; }
  .bid h1 { margin-bottom: 20px; font-size: 24px; }
  .tab { padding-bottom: 30px; }
  .tab .tab-nav li { width: 270px; margin-top: 10px; margin-left: 0; }
  .tab .tab-nav li.m-first:before, .tab .tab-nav li.m-last:before { content: none; }
  .tab .tab-nav li.m-first { margin-top: 0; }
  .tab .tab-nav li .tab-link { padding: 10px 0px; }
  .tab .tab-content { padding: 20px 7px 0; }
  .tab .tab-detail { width: 290px; margin: 30px auto 0; position: static; }
  .tab .tab-detail:before, .tab .tab-detail:after { content: none; }
  footer { min-height: 193px; padding: 27px 0 0px; }
  footer .footer-in { min-height: 193px; position: relative; }
  footer .footer-in .footer-left { width: 100%; float: none; }
  footer .footer-in .footer-right { width: 100%; float: none; }
  footer .footer-in .footer-center { width: 100%; float: none; }
  footer .footer-in .tel { width: 180px; text-align: right; top: 85px; left: 50%; margin-left: -115px; }
  footer .footer-in .nav.m-footer { display: none; }
  footer .footer-in .social { width: 100px; position: absolute; top: 0px; left: 50%; margin-left: -50px; }
  footer .footer-in .copy { width: 140px; position: absolute; top: 50px; left: 50%; margin-left: -70px; margin-bottom: 0; text-align: center; }
  footer .footer-in .lang { width: 100%; margin: 0; position: absolute; bottom: 0; }
  footer .footer-in .lang li { width: 50%; height: 46px; line-height: 46px; margin: 0; text-align: center; }
  footer .footer-in .lang li a { background: #151515; font-size: 13px; color: #8f8e8e; }
  footer .footer-in .lang li a.is-active { background: #262626; color: white; }
  .wrap { padding: 40px 0 0; }
  .service h1 { font-size: 24px; }
  .service .service-items { margin-bottom: 0; }
  .service .service-items .service-item { float: none; margin: 0 auto 50px; }
  .service .service-items .service-item .service-media { margin-bottom: 40px; }
  .slider { padding-bottom: 70px; }
  .slider .slider-media { height: 115px; line-height: 115px; margin-bottom: 120px; }
  .slider .slider-media img { height: 100%; margin: 0 auto; }
  .form .form-row .form-col { float: none; margin-bottom: 20px; margin-left: 0; }
  .form .form-row .form-col.m-col1 { width: 100%; }
  .form .form-row .form-col.m-col2 { width: 100%; }
  .form .form-row .form-col.m-col3 { width: 100%; }
  .form .form-row .form-col.m-col4 { width: 170px; margin: 0 auto; }
  .form .form-date .form-date-day { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .form .input { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .form .input:-ms-input-placeholder { color: transparent; }
  .form .input:-moz-placeholder { color: transparent; }
  .form .input::-moz-placeholder { color: transparent; }
  .form .input::-webkit-input-placeholder { color: transparent; }
  .form .input::placeholder { color: transparent; } }
